body{
    background-image: url('../img/House.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.marker {
    transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    border-radius: 50% 50% 50% 0;
    padding: 0 3px 3px 0;
    width: 30px;
    height: 30px;
    background: #ed1f34;
    position: absolute;
    margin: -2.2em 0 0 -1.3em;
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  }
  /* .marker:after {
    content: '';
    width: 1em;
    height: 1em;
    margin: .6em 0 0 0.5em;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
    -webkit-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
    box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
  } */
  @keyframes wiggle {
    0% { transform: rotate(-45deg); }
   80% { transform: rotate(-45deg); }
   85% { transform: rotate(-55deg); }
   95% { transform: rotate(-35deg); }
  100% { transform: rotate(-45deg); }
}
.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}
.wiggle:hover {
  animation: none;
  cursor: pointer;
}
  .escape{
    left: 81%;
    top: 45%;
  }
  .kitchen{
    left: 47%;
    top: 65%;
  }
  .bedroom{
    left: 21%;
    top: 63%;
  }
  .winter{
    left: 38%;
    top: 50%;
  }
  .smokeAlarms{
    left: 55%;
    top: 40%;
  }
  .bbq{
    left: 65%;
    top: 75%;
  }    
  .content{
    height: 90%;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    right:-250px;
    opacity: 0.9;
    padding: 30px;
    line-height: 1.5rem;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  .exit{
    margin: 10px;
    cursor: pointer;
  }
  .content a{
    text-decoration: none;
    font-weight: bold;
}
.contentHead{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.contentCredit{
  margin-top: 50px;
  font-size: 0.8rem;
  text-align: center;
}
  .escapeLink a {
    background-color: #F1C84A;
    color: #0a0a4e;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px black;
    border-radius: 5px;
    margin: 20px;
}
.escapeLink a:hover {
    background-color:#0a0a4e;
    color: #F1C84A;
}
.escapeLink{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.thermal p{
  padding-bottom: 20px;
}
.thermal img{
  float: right;
  padding-left: 20px;
}
/* Lawnmower animation */
.lawnmowerUp{
  position: absolute;
  left: 50px;
  animation: lawnmowerU 100s linear infinite;
}
@keyframes lawnmowerU{
  0% {
    bottom: -130px;
  }
  50% { 
    bottom: 100%;
  }
  100% { 
    bottom: 100%;
  }
}
.lawnmowerDown{
  position: absolute;
  left: 100px;
  top: -130px;
  animation: lawnmowerD 100s linear infinite;
  animation-delay: 50s;
}
@keyframes lawnmowerD{
  0% {
    top: -130px;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}
/* Red car animation */
.redCar{
  position: absolute;
  right: 0;
  top: -200px;
  animation: carAnimation 60s linear infinite;
  animation-delay: 5s;
}
@keyframes carAnimation{
  0% {
    top: -200px;
  }
  5% { 
    top: 100%;
  }
  100% { 
    top: 100%;
  }
}
/* Smoke animation */
.smoke ul{
  position: absolute;
  top: 63%;
  left: 60%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}
.smoke li{
  position: absolute;
  list-style: none;
  width: 10px;
  height: 10px;
  background: #262626;
  border-radius: 50%;
  opacity: 0;
}
.smoke li:nth-child(even){
  animation: smokeEven 2.8s linear infinite;
}
.smoke li:nth-child(odd){
  animation: smokeOdd 2.8s linear infinite;
}
@keyframes smokeEven{
  0% { 
    transform: translate(0,0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% { 
    transform: translate(50px,-150px) scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}
@keyframes smokeOdd{
  0% { 
    transform: translate(0,0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
  100% { 
    transform: translate(-50px,-150px) scale(3);
    opacity: 0;
    filter: blur(10px);
  }
}
.smoke li:nth-child(1){
  animation-delay: 0s;
}
.smoke li:nth-child(2){
  animation-delay: .4s;
}
.smoke li:nth-child(3){
  animation-delay: .8s;
}
.smoke li:nth-child(4){
  animation-delay: 1.2s;
}
.smoke li:nth-child(5){
  animation-delay: 1.6ss;
}
.smoke li:nth-child(6){
  animation-delay: 2s;
}
.smoke li:nth-child(7){
  animation-delay: 2.4s;
}
.smoke li:nth-child(8){
  animation-delay: 2.8s;
}
.smoke li:nth-child(9){
  animation-delay: 1.6s;
}
.smoke li:nth-child(10){
  animation-delay: 1.8s;
}
.smoke li:nth-child(11){
  animation-delay: 2.2s;
}
.smoke li:nth-child(12){
  animation-delay: 2.6s;
}

